<!-- <p>questionnaire works!</p> -->
<!-- <button routerLink="/questionario" >questionarios</button>
<label>Pergunta:</label> -->


<!-- <router-outlet></router-outlet> -->










<div class="row d-block h-100" style="margin-left: 0; margin-right: 0; ;">
    <div class="col float-left" style="padding-left:0 ; height: auto; max-height:100%; min-width: 64px; max-width: 190px;"><app-sidebar ></app-sidebar></div>
<div class="col overflow-auto container" style="width: auto; max-width: 1400px; min-width: 10%; max-height: 100%"><router-outlet ></router-outlet></div>
</div>





<!-- <div style=" margin-top: 50px;
margin-left: 200px;">
<div style="  position: fixed; top: 50px; left: 0px; bottom: 0px; width: 190px;"><app-sidebar></app-sidebar></div>
<div style=" position: relative; width: auto; height: 80%; margin-left: 100px; margin-right: 100px; "><router-outlet></router-outlet></div>
</div> -->
