#btnStat {
    margin-left: 12px;
}

#pagination {
    align-content: center;
}

thead>tr>th {
    cursor: pointer;
}
a {
    color: #1d2124;
    text-decoration: none;
    background-color: transparent;
}

a:hover {
    color:  #e07e37;
}

#historyWarning {
    margin-top: 90px;
}