<p style="padding-top: 4%;"> </p>
  

<div *ngIf="currentRole == 'ADMIN'">ADMIN STATISTICS</div>
<div *ngIf="currentRole == 'SUPERUSER'">FORMADOR STATISTICS</div>
<div *ngIf="currentRole == 'USER'">FORMANDO STATISTICS</div>
<div>Historico </div>
<div *ngFor="let questionnaire of questionnaireData">
    <div [ngStyle]="{'color': questionnare?.score > 70 ? 'green':'red'}">{{questionnaire.name}} -- {{questionnaire.score}}</div>
</div>

<div class="slidecontainer">
    <input (ngModelChange)="onChange(device.value)" #device [(ngModel)]="rangeValue" type="range" min="1" max="100" value="50" class="slider" id="myRange">
  </div>
  <div>{{rangeValue}}</div>
  
  <div class="d3BarChart float-right" style="bottom: 0;">
    <app-pie-graph  [trashold]="rangeValue" [data]="passedScore"></app-pie-graph>
  </div>

  <div *ngIf="currentRole == 'ADMIN' || currentRole == 'SUPERUSER'">
    <div *ngFor="let template of templates; let i = index;">
      <p>{{i+1}}</p>
      <a (click)="getAllFromTemplateId(template)" >{{template.name}}</a>
    </div>

    <div *ngFor="let question of evaluation?.questionList; let i = index;">
      <span *ngIf="question.aType == 'SINGLE_OPTION'">Questão {{i+1}} - {{question.question}}</span>
      <span [ngStyle]="{'color': mean(i) > 3 ? 'green':'red'}" *ngIf="question.aType == 'SINGLE_OPTION'">{{mean(i)}}/{{question.options.length}}</span>
    </div>

  </div>